@font-face{
    font-family: raleway;
    src: url(police/Raleway2.ttf) format("truetype");   
}
.logo{
    margin-left: 45px;
}
main{
       margin-left: 20px;
   }
.texte{
    margin-top:-20px
}
body{font-family: raleway;
}
header {
    display: flex;
    margin-top: 50px;
}
header div {
width:50%;
}
header nav { 
    width:50%;
    }
header div img {
    width: 100px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 25px;
}
nav>ul>li>a {
    
    padding: 20px;
}
li {
    list-style: none;
}
a:link {text-decoration:none;color: black;  
}
.logements a:hover {
    color:#0065FC;
    border-top: 2px solid #0065FC ;

    }
.loisirs a:hover {
    color:#0065FC;
    text-decoration: overline;
}
.recherche{ margin-left:  45px;
}



.filtres{margin-top: 25px;
margin-left: 45px;
font-weight: bold;
font-size:20px;
}



.information{
    display: flex;
    margin-left:25px;
    align-items: center;
}


.recherche div{display: flex;
height: 50px;

}
 
.info {
    border-radius: 15px 0em 0em 15px;
    background-color:#F2F2F2 ;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
div .info i{margin: 10px 10px 10px 10px;}

input{border: 1px  solid#F2F2F2;
    height: 50px;
}

button{background-color:#0065FC ;
    border-radius: 0em 5px 5px 0em;
    border: none;
    width: 135px;

    }
button p{color: white;
    font-weight: bold;
    font-size: large;
}


.filtres .themes{border: 3px solid #f2f2f2e7 ;
    border-left-style: none;
    border-radius: 0em 5em 5em 0em;
    margin: 5px 5px 5px 5px;
    padding: 5px 15px 5px 15px;
    margin-left: -5px;
    z-index: 1;
    position:relative;
}
 
.filtres{display: flex;
    align-items: center;
}
        

.filtres #moncercle { font-size: 1.5em; width: 1.7em; text-align: center; line-height: 1.5em;height: 1.7em; background:#DEEBFF ; color:#0065FC; border-radius: 2em;  

    margin-left: 20px;

}

#cercle i{ font-size: 0.6em; 
    text-align:justify; 
    line-height: 2.5em;
    border-radius: 2em; 
    border: 3px solid #F2F2F2; 
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #0065FC;
    margin-right: 20px;
}
.filtres i{font-size: small;
    margin: 15px;

} 

.cercle i{ font-size: smaller; margin: 15px 15px 15px 15px;
   
}

.filtres p{margin-left: 5px;
}


h1{
    margin-left: 5px;
}

/*partie hebergement*/




h2{margin-left: 30px;
margin-top: 45px;
margin-bottom: 25px;}



.conteneur-image{
    flex-wrap: wrap;
    margin-top: -46px;
 
}   

.conteneur-image{display: flex;
}

.sous-conteneur1{
    
    border-radius: 10px 10px 10px 10px;
    background-color:#F2F2F2 ;
    margin-left: 30px;
   margin-right: 40px;
   padding-bottom: 25px;
   width: 880px;
   height: 625px;
}
    
.conteneur-image figcaption {
    z-index  :1;
     background-color: white;
     position:relative;
     top: -53px;
     left: 14px;
     margin-left: -1ex ;
     margin-right: 3px;
     background-color:white;
    color:black;
    text-align:left;
    border-radius: 0px 0px 10px 10px;
    
}
.conteneur-image figcaption p{margin-left: 15px;margin-top: -20px;}
h3{
    margin-left:15px ;
    padding-top: 10px;
}
.conteneur-image figure { 
    border-radius: 10px;
    position : relative;
    z-index  : 0;
    margin-left: 28px;
    margin-right: 15px;
    margin-bottom: 55px;
    margin-top: 50px;
    width: 236px;
    height: 115px;
    padding-bottom: 5px;
}

    .fa-star{color: #0065FC;}
    .star-grey{color: gray;}
.vignette-cannebiere{
    margin-bottom: 50px;
}
.sous-conteneur1 img{border: 3px solid white;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-left:  2%;
    margin-bottom: 30px;
}

  

.afficher {margin-left: 35px;
    margin-top: 70px;
font-weight: bold;
font-size: 20px;
}




.conteneur-image {
    display: flex;

}


}
.afficher p{ margin-top: 50px; 
}

/* partie populaire */


.sous-conteneur2 h2 i{margin-left: 145px;
    font-size: medium;
}

.conteneur1 .sous-conteneur2 figcaption{
    background-color:white;
    color:black;
    padding: 2px;
    text-align:left;
    border-radius: 0px 10px 10px 0px;
    border: none;
    width: 90%;
    margin-right: -50px;
    margin-bottom: -7px;
    }

.sous-conteneur2 img{border: 4px solid white;
    
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    margin-left:  -2%;
}
.sous-conteneur2{
    border-radius: 10px 10px 10px 10px;
    
    background-color:#F2F2F2 ;
    margin-bottom: 1px;
    width: 418px;
}

.conteneur-image2{
    margin-top: 15px;
}
h4{
    margin-bottom: 10px;
    margin-left: 5px;
}
.sous-conteneur2 figcaption {
    z-index  :1;
     background-color: white;
     position:relative;
     right: 35px;
     
}

.sous-conteneur2 figure {
    border-radius: 10px;
    position : relative;
    z-index  : 0;
   margin-top: 28px;
    margin-bottom: 40px;
    width: 336px;
    height: 133px;

}

.sous-conteneur2 figcaption p{ 
    margin-left: 5px;
}


.conteneur1 {display: flex;
    margin-top: 20px;
}




.sous-conteneur2{display: flex;
justify-content: flex-start;
}

img{object-fit: cover;}


.vignette-populaire{display: flex;}
/*partie activité a marseille*/

.Activité{margin-top: 60px;
            margin-left: 25px;
}


h5{ font-size: medium;
margin-left: 10px;}

.Activité figcaption {
    background-color:white;
    color:black;
    font: italic smaller sans-serif;
    padding: 3px 3px;
    text-align: left;
    
    
}




.Activité figure {
    border-radius: 10px;
    position : relative;
    z-index  : 0;
    
    }

.Activité img{border-radius: 10px;
}
 

.Activité figcaption {
    z-index  :1;
     background-color: white;
     position:relative;
     top: -50px;   
}



.Activité .image-activité {display: flex;
    margin-left: -35px;
    margin-top: 30px;
flex-wrap: wrap;
}


    .Activité p{
        margin-left: 5px;
        font-weight: bold;
        font-size:20px;
    }

h5{
    font-size: 1.5em;
}


.image-activité img{width: 100%;
height: 100%;
}

.vignette-port{width: 300px;
height: 450px;
margin-bottom: 50px;
margin-top: -12px;
}

.vignette-Pomègues{width: 300px;
    height: 240px;
    margin-top: -12px;
    margin-bottom: 50px;
}

.vignette-frioul{width: 300px;
    height: 200px;
}
.vignette-frioul img{height: 75%;
}

.vignette-frioul figcaption{ top: -40px;
}


.vignette-Calanques{width: 300px;
    height: 450px;
    margin-bottom: 40px;
    margin-top: -12px;
}

.vignette-Dame{width: 300px;
    height: 200px;
    margin-top: -12px;
    margin-bottom: 40px;
}

.vignette-Longchamp{width: 300px;
    height: 200px;
}




.image-activité figure{margin-right: 7px;}    

.image-activité figcaption{width: 294px;
    height: 55px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 255, .2);
    border-radius: 0px 0px 10px 10px;
}


/*partie footer */


footer{
    display: flex;  
}


footer{
    background-color:#F2F2F2;
    height: 216px;
}

footer div{
    margin-right: 220px ;
    margin-left: 45px;
    
    
}

h6{
    font-size:20px;
    margin-bottom: 5px;
    font-weight: bold;
}

footer p{
    font-size: 17px;
}